<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ActiveDirectoryServices.Properties.Settings.FrontlineActiveDirectoryTestConnectionString"
            connectionString="Data Source=GBSQL2014;Initial Catalog=FrontlineActiveDirectoryTest;User ID=sa;Password=Password1*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>